<div>
    <p>Caro <b><%=name%>,</b></p>
    <p>Recebemos sua solicitação de mudança de senha no sistema do CEDRI, clique 
        no link abaixo para continuar, ou ignore este e-mail.
    </p>
    <a target="_blank" href="http://localhost:3000/recover-password/?token=<%=token%>">
        http://localhost:3000/recover-password/?token=<%=token%></a>
</div>