<div>
    <p>Caro <b><%=name%>,</b></p>
    <p>Recebemos sua solicitação de mudança de senha no sistema do CEDRI, clique 
        no link abaixo para continuar, ou ignore este e-mail.
    </p>
    <a target="_blank" href="<%=frontIp%>/recover-password/?token=<%=token%>">Recuperar Senha</a>
</div>