<div>
    Bem vindo, <b><%=name%></b>!
    <br>
    <p> Essa é sua senha atual no sistema <span style="font-size: 19px"><b><%=password%></b></span>, 
        por favor após efetuar o login troque sua senha!</p>
</div>